@charset "UTF-8";

html.onw3d_root * {
    box-sizing: border-box;
}

html.onw3d_root {
    margin:0;
    padding:0;
    height: 100%;
 }

html.onw3d_root body {
    min-height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix:before,
.clearfix:after,
.onw3d_category_item:before,
.onw3d_category_item:after {
    content: " ";
    display: table
}
.clearfix:after,
.onw3d_category_item:after {
    clear:both
}

#onw3d_viewer{
    margin:0;
    padding:0;
    position:fixed;
    border:0px;
    left:0;
    top:0;
    width:100%;
    height:100%;
    max-height: 100%;
    overflow:hidden
}

@media (orientation: portrait) {

    html.onw3d_root {
        position: absolute;
        width: 100vh;
        height: 100vw;
        overflow: hidden;
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -moz-transform-origin: top left;
        -ms-transform-origin: top left;
        -webkit-transform-origin: top left;
        transform-origin: top left;
        left: 100%
    }
}


#onw3d_container {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #4096ee;
    background: -moz-linear-gradient(top, #4096ee 0%, #819895 100%);
    background: -webkit-linear-gradient(top, #4096ee 0%,#819895 100%);
    background: linear-gradient(to bottom, #4096ee 0%,#819895 100%);
    font-family: Arial, Helvetica, sans-serif;
}


#onw3d_close {
    position: fixed;
    right: 15px;
    top: 10px;
    width: 50px;
    height: 50px;
    background: rgba(22,34,56,0.7);
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

#onw3d_close.hidden {
    visibility: hidden;
}

#onw3d_close:before {
    content: "\0274c"
}

#onw3d_close:hover {
    background: #db3521
}

#onw3d_controls {
    position: fixed;
    left: 0;
    top: 0;
}

#onw3d_controls_btn {
    
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    /*background: rgba(0,0,0,0.7) url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><path d="M0 2h25v4H0V2zm0 8h25v4H0v-4zm0 8h25v4H0v-4z" fill="#fff" fill-rule="evenodd"/></svg>') no-repeat center center;*/
    background: rgba(22,34,56,0.7) url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjUgMjUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMmgyNXY0SDBWMnptMCA4aDI1djRIMHYtNHptMCA4aDI1djRIMHYtNHoiIGZpbGw9IiNmZmYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==') no-repeat center center;
    background-size: 20px 20px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

#onw3d_controls_btn:before {
    content: "";
}

#onw3d_controls_btn:hover {
    background-color: rgba(22,34,56,1)
}

#onw3d_controls_btn2 {
    display: none;
    position: absolute;
    left: 10px;
    top: 70px;
    width: 50px;
    height: 50px;
    background: #319BB3 url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path d="M19.4 10V6c0-.2-.2-.4-.4-.4h-4c-.2 0-.3.1-.4.3l-.3.9H4.4c-.1 0-.2 0-.3.1-.1.1-.1.2-.1.3v11.7c0 .2.2.4.4.4h14.2l2.7-9.4h-1.9v.1zm-.8 0H7l-2.2 7.6v-10h9.8c.2 0 .3-.1.4-.3l.3-.9h3.3V10z" fill="#000"/></svg>') no-repeat center center;
    /*background: #319BB3 url('data:image/svg+xml;base64,') no-repeat center center;*/
    background-size: 40px 40px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    border-radius:50%;
    
}

#onw3d_controls_btn2.open{
    width:100px;
    border-radius:25px;
    background-position: 10px center;
    background-color: #fff;
}



    #onw3d_controls_test{
        width:50%;
    
    max-width:450px;
    display:none;
    position:fixed;
    left:70px;
    top:0;
    height:100%;
    overflow:auto;
    background:#fff;
    padding:0px;
    color:#000;
    z-index: 99999;
    }
#onw3d_controls_test.open {
    display:block;
}

#onw3d_controls_test h2 {
    margin:0;
    padding:14px 10px;
    font-size:18px;
    color:#000;
    background:#D8DFDE;
    line-height:1.2;
    font-weight:700;
}
/*
    #onw3d_controls_test:before{
    content:'КАТАЛОГ';
    display:block;
    height:1500px;
}*/

#onw3d_controls_btn3 {
    display: none;
    position: absolute;
    left: 10px;
    top: 140px;
    width: 50px;
    height: 50px;
    background: #319BB3 url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path fill="#000" d="M21.6 8.1L18.1 10V8.4c0-.6-.5-1.1-1-1.1h-4.8v-.6c0-.3-.2-.6-.6-.6H9.8c-.3 0-.6.3-.6.6v.7h-.9v-.7c0-.3-.3-.6-.6-.6H5.8c-.3 0-.7.3-.7.6v.7H5c-.6 0-1.1.5-1.1 1.1v8.9c0 .6.5 1.1 1.1 1.1h12.2c.6 0 1-.5 1-1.1v-1.7l3.5 2c.3.2.6 0 .6-.3v-9c-.1-.3-.4-.5-.7-.3zM11 16.3c-1.9 0-3.5-1.6-3.5-3.5S9.1 9.3 11 9.3s3.5 1.6 3.5 3.5-1.6 3.5-3.5 3.5z"/><path fill="#000" d="M13 12.5l-2.7-1.9c-.3-.2-.5-.1-.5.3v3.9c0 .3.2.5.5.3l2.7-1.9c.3-.2.3-.5 0-.7z"/></svg>') no-repeat center center;

    /*
    


    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path fill="#fff" d="M9.3 19.2c-3.5-.4-5.5-1.6-5.5-2.3 0-.4.4-1 1.4-1.2v-.6c-1.5.4-2.4 1.1-2.4 1.8 0 2.2 3.1 3.2 6.4 3.6v1.7l3-2.2-3-2.3.1 1.5zM19.8 15.1v.7c.8.2 1.4.8 1.4 1.1 0 .9-2.4 2.2-7.1 2.3v1.5c4.5-.1 8-1.7 8-3.8.1-.7-1.1-1.6-2.3-1.8z"/><path d="M8.5 6.6v-.4H6.9v.9l1.6-.5zm5.7.4v-.8H11V7H9.3L6.1 8.3v8.4H19V7h-4.8zm-1.6 8.1c-1.8 0-3.2-1.4-3.2-3.2s1.4-3.2 3.2-3.2 3.2 1.4 3.2 3.2-1.5 3.2-3.2 3.2zm0-1.2c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/><path fill="#d24a46" d="M22.8 9.7l-2.6-2.6 2.6-2.6-1.7-1.7-2.6 2.6-2.7-2.7-1.7 1.8 2.6 2.6-2.6 2.6 1.7 1.8 2.7-2.7 2.6 2.7z"/></svg>

    background: #319BB3 url('data:image/svg+xml;base64,') no-repeat center center;*/
    background-size: 40px 40px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    border-radius:50%;
}

#onw3d_controls_btn4 {
    display: none;
    position: absolute;
    left: 10px;
    top: 280px;
    width: 50px;
    height: 50px;
    background: #319BB3 url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path d="M4.3 6.8v2.6s.5-.4 1-1l1-1 2 2 2 2 .6-.6.6-.6-2-2-2-2 1-1 1-1H4.3v2.6zm12.3-1.5l1 1-2 2-2 2 .6.6.6.6 2-2 2-2 1 1 1 1V4.3h-5.2l1 1zM8.3 15.6l-2 2-1-1-1-1v5.2h5.2l-1-1-1-1 2-2 2-2-.6-.6-.6-.6c0-.1-2 2-2 2zm5.8-1.5l-.6.6 2 2 2 2-1 1-1 1h5.2v-5.2l-1 1-1 1-2-2-2-2-.6.6z" fill="#000"/></svg>') no-repeat center center;
    /*background: #319BB3 url('data:image/svg+xml;base64,') no-repeat center center;*/
    background-size: 40px 40px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    border-radius:50%;
}

#onw3d_controls_btn4.exitfs {
    background: #319BB3 url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path d="M15.9 17.4l3.4 3.4 1.4-1.5-3.4-3.4 1.4-1.3h-4.1v4.1l1.3-1.3zM7.6 9.1l-1.3 1.4 4.1-.1V6.3L9.1 7.7 5.7 4.3 4.3 5.7l3.3 3.4zM4.3 19.3l1.4 1.5 3.4-3.4 1.3 1.3v-4.1H6.3l1.4 1.3-3.4 3.4zm14.4-8.9L17.4 9l3.3-3.3-1.4-1.5-3.4 3.4-1.3-1.4v4.2h4.1z" fill="#121314"/></svg>') no-repeat center center;
    /*background: #319BB3 url('data:image/svg+xml;base64,') no-repeat center center;*/
    background-size: 40px 40px;
}

#onw3d_controls_btn5 {
    display: none;
    position: absolute;
    left: 10px;
    top: 210px;
    width: 50px;
    height: 50px;

    background: #319BB3 url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path d="M10.3 10.4c-.1-.8-.7-1.5-1.5-1.5-.1 0-.3 0-.4.1-.3-.8-1-1.3-1.8-1.3-1 0-1.8.8-1.9 1.9-.1-.1-.3-.2-.5-.2-.6 0-1.1.6-1.1 1.3 0 .7.5 1.3 1.1 1.3H10.3c.4 0 .7-.3.7-.8s-.3-.8-.7-.8z" fill="#c9c8c8"/><ellipse cx="16.9" cy="7.2" rx="2.9" ry="2.8" fill="#fff"/><path d="M25 25v-6.9c-.6-.4-1.6-1.2-2.7-1.1-2 .2-3 2.3-5.8 1.5-1.3-.4-2.4-1.2-3.8-1.3-.7 0-1.7.3-2.4.5-1.9.6-3.2 1.4-5.3 1-2.1-.3-3-.9-5.1 0V25H25z" fill="#000"/></svg>') no-repeat center center;

    


    background-size: 50px 50px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    border-radius:50%;
}

#onw3d_controls_btn6{
    display: none;
    position: absolute;
    left: 80px;
    top: 140px;
    width: 50px;
    height: 50px;

    background: #319BB3 url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path d="M5.2 19.7C4 19.4 3.1 18.2 3.3 17V8.6c.3-.8 1-1.4 1.8-1.4-.3-1.1 1-1 1.6-1 .7 0 .7.7 1 .8h1.9c.8-.8 1.4-1.9 2.5-2.5 1.8 0 3.6 0 5.3.1 1 .4 1.4 1.4 2.1 2.2.5.5 1.6.1 2.1 1.1.4.7.1 1.5.3 2.2v7.7c-.3 1.2-1.5 2.1-2.6 1.9H5.2zm9.8-1.5c2.7-.3 4.8-3.3 4.1-5.9-.5-2.6-3.8-4.2-6.3-3.3-2.6 1-3.8 4.2-2.5 6.7.9 1.7 3 2.8 4.7 2.5zm-.9-1.2c-2.2-.1-3.8-2.7-3-4.8.8-2.1 3.6-3 5.3-1.8 2.1 1.1 2.3 4.4.4 5.8-.7.7-1.6.9-2.7.8zm2.2-4c1.4-.7-.4-2.7-1.2-1.4-.6.9.4 2 1.2 1.4zM7 10.6c1.5-.7-.3-2.9-1.2-1.5-.6.9.3 2 1.2 1.5z" fill="#000"/></svg>') no-repeat center center;

    


    background-size: 40px 40px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    border-radius:50%;
}







#onw3d_controls.active #onw3d_controls_btn2 {
    display:block;
}

#onw3d_controls.active #onw3d_controls_btn3 {
    display:block;
}

#onw3d_controls.active #onw3d_controls_btn4 {
    display:block;
}

#onw3d_controls.active #onw3d_controls_btn5 {
    display:block;
}

#onw3d_controls.active #onw3d_controls_btn6 {
    
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

#onw3d_controls.active {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
    animation-name: slideInLeft;
    animation-duration: .4s;
    animation-fill-mode: both;
}

#onw3d_controls.active #onw3d_controls_btn {
    top:0; left:0; border-radius:0; width: 60px;
    background: #319BB3 url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path fill="#fff" d="M17.8 4.8l-2-1.9-9.6 9.6 9.6 9.6 2-1.9-7.7-7.7z"/></svg>') no-repeat center center;
    background-size: 30px 30px;
    color: #fff;
}

#onw3d_controls.active #onw3d_controls_btn:hover {
    
}

#onw3d_controls.active #onw3d_controls_btn:before {
    content: "";
}

#onw3d_controls_wrap {
    position:relative;
    max-height:100%;
    color:#222;
    overflow: auto;
    display: none;
    padding:60px 0 0 0;
}

#onw3d_controls_wrap::-webkit-scrollbar{width:10px;border-radius:4px;background-color:#323232}
#onw3d_controls_wrap::-webkit-scrollbar-thumb{background-color:#319BB3}

#onw3d_controls_test::-webkit-scrollbar{width:10px;background-color:#eee}
#onw3d_controls_test::-webkit-scrollbar-thumb{background-color:#319BB3}

#onw3d_controls.active #onw3d_controls_wrap {
    display:block;
}

#onw3d_controls_wrap:before {
    content:"";
    display: block;
    width:100%;
    color:#fff;
    font-size:20px;
    line-height: 50px;
    height: 50px;
    position:fixed;
    left:0; top:0;
    background:  url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 47"><path d="M111.7 14.4c-2.6-2.6-6.2-4-9.7-4-3.5 0-7 1.3-9.7 4-5.3 5.3-5.3 14 0 19.3 2.6 2.6 6.2 4 9.7 4 3.5 0 7-1.3 9.7-4 5.3-5.3 5.3-13.9 0-19.3zm-1.5 17.9c-2.2 2.2-5.1 3.4-8.1 3.4-3.1 0-6-1.2-8.1-3.4-4.5-4.5-4.5-11.8 0-16.3 2.2-2.2 5.1-3.4 8.1-3.4s5.9 1.2 8.1 3.4c4.5 4.4 4.5 11.8 0 16.3z" fill="#f1d94b" stroke="#f1d94b"/><path fill="#f1d94b" d="M97 14.6c1.2.2 2.4-.8 3.5-.3.3.1.5.9 1.1 1.2.7.3 4 .4 4.5-.2 1.4-1.5-1.9-.9-2-1.8-.2-1.5 2.9-.5 3.6-.1 1.3.7 3.1 2 3.6 3.4-.6.1-1.5-1-1.9-.8-.9.6 2.6 1.6 2.7 1.7.5 1.8-3.7 2.1-3.5 2.9.1.7 1.5-.4 1.8 0 .5.5-2.8 3.7-2.9 4.2-.2.6.4 1.5.2 2.2-.1.4-1.1.7-1.4 1.1-.7 1.1-.8 3.4-2.9 3.5-1.8.2-2.2-2-2.5-3.7-.1-1 .4-1.8.2-2.7-.1-.4-.8-2.5-.9-2.6-1.1-1.3-2.2-.2-3.8-.6-4.8-1.2-1.2-5.7.3-7.8.1.2.2.3.3.4zm11.5 5.7c.3-.5-2-3.8-2.2-3.7-.6.3 1.8 3.5 2.2 3.7 0-.2-.8-.5 0 0zm-2 3.3c-.8-.4-.7.6-.4.6.2-.2.3-.4.4-.6-.2-.1-.2.1 0 0z"/><path fill="#f1d94b" d="M97 14.6c-.1-.1-.2-.4-.4-.4-.5 0-.5-.3-.5-.7 0-.4 0-.8.5-1 1.2-.4 2.3-.7 3.6-.9.4-.1.7 0 .8.4.2.5.8.7 1.2 1-.4 0-.3.3-.4.5h-.1c-.1-.4-.4-.6-.7-.7-.2-.1-.4-.2-.6-.4-.2-.4-.5-.7-1-.2-.1.1-.3 0-.4 0-.1 0-.4 0-.4.2 0 .3-.2.4-.4.6-.1 0-.1.1-.1.1 0 1.1-.7 1.2-1.1 1.5 0-.1 0 0 0 0zm7.8-1.6c-.2.1-.4.2-.7.2-.2-.2-.4-.2-.6 0-.1.1-.2.3 0 .5.1.1 0 .4-.1.4-.2.1-.3-.1-.4-.3-.4-.9-.9-1.7-1.8-2.1 1.1-.2 2.1 0 3.1.2.1 0 .3.1.2.3-.2.5.2.6.3.8zm5.1 13.4c.2.1.2.3.2.4-.1 1-.4 1.9-1 2.7-.1.1-.4.2-.6.1s-.3-.4-.3-.6c.1-.5.3-1 .3-1.5 0-.1.1-.2.1-.2.8 0 1-.3 1.3-.9zm-20.8 1.4c-.4-1.1-.5-2.3-.4-3.4 0-.1.1-.2.1-.2.5.1.9.4 1.2.7.3.3.1.7-.2 1-.4.5-.9 1.1-.7 1.9z"/><path fill="#f1d94b" d="M100 13c.1-.1-.2-.5.1-.4.3.1.1.5.1.7.1.1-.1.4-.2.3-.2-.1 0-.3 0-.6zm1.8.8h.1c-.4.7-.4.7-1 .2.4-.2.7 0 .9-.2zM123.3 31.1c.8-.3 2.1-.5 2.3-1.4.2-.8 0-1.7 0-2.5v-8.7c0-.6.2-1.5 0-2.1-.3-1.1-2-.7-2.3-1.6-.4-1.1 1-.7 1.6-.7h4.5c.4 0 2.3-.3 2.6 0 .3.3-.1.9-.3 1.1-.4.3-1.1.3-1.5.6-.9.5-.5 2.3-.5 3.2 0 .4-.3 2.6 0 2.8.1.1.9 0 1.1 0h4.4c.4 0 1.2.2 1.6 0 .4-.2.1.1.3-.2.2-.4 0-1.4 0-1.8 0-1 .3-2.4 0-3.3-.3-1.2-2.4-.6-2.3-1.8 0-.6-.1-.4.3-.5.4-.1 1.1 0 1.6 0h4.5c.4 0 2-.2 2.3.1.4.5-.2.9-.5 1.1-.5.3-1.5.3-1.8.8-.3.5-.1 1.5-.1 2v8.5c0 1-.1 2 0 3 .1 1.3 1.2.9 2.1 1.5.2.2.6.7.3 1.1-.1.1-.6 0-.7 0h-6.2c-.4 0-1.2.2-1.6 0-.3-.1-.4 0-.2-.6.1-.6.5-.5 1.1-.8.6-.2 1-.3 1.2-.9.1-.3 0-.8 0-1.1v-4.2c0-1-.3-.7-1.2-.7h-4.4c-.4 0-1.2-.2-1.6 0-.4.2-.1-.1-.3.3-.2.3 0 1.2 0 1.5v2.5c0 .9-.3 2 .6 2.5.4.2 1.4.3 1.7.6.1.1.1.9 0 1-.1.1-.9 0-1 0h-6.5c-1-.3-1.1-.1-1.1-1.3zm30.3 1.4c-4.1 0-7.7-2.2-8.7-6.3-.9-3.7-.3-8 2.8-10.5 2.9-2.3 7.4-2.6 10.7-.8 3.7 2.1 4.7 6.5 4 10.5-.9 4.3-4.5 7.1-8.8 7.1zm.2-1.8c4 0 4.6-4.8 4.5-7.8-.1-3.2-1.3-7.6-5.3-7.2-3.6.4-4.1 4.7-4.1 7.6.1 3 1 7.4 4.9 7.4zm19.4 1.8c-3.5 0-7.1-1.6-7.3-5.6v-3.5-5.7c0-.4.1-.9 0-1.3-.2-.8-.9-.9-1.7-1.1-.2-.1-.6-.1-.7-.3 0-.1-.1-.8 0-.9.1-.1 1.2 0 1.4 0h5.7c.3 0 1.3-.2 1.5 0 .1.1.1.2.1.5 0 .6 0 .4-.5.6-.7.4-1.6.3-1.9 1.2-.1.4 0 .9 0 1.3v5.7c0 1.4-.1 3 .3 4.3 1 3.1 5.9 3.3 7.5.7.8-1.4.7-3.1.7-4.6v-5.7c0-.4.1-1.1 0-1.5-.2-.8-1.1-.9-1.8-1.2-.2-.1-.5-.1-.6-.3v-.9c.2-.2 1.6 0 1.9 0h2.7c.4 0 1.8-.2 2.1 0 .6.5-.3 1.1-.6 1.2-.8.3-1.5.4-1.7 1.3-.3 1.6 0 3.7 0 5.4 0 1.5.1 3 0 4.5 0 3.9-3.5 5.9-7.1 5.9zm17.2 0c-1.6 0-3.2-.2-4.8-.7-.6-.2-1.3-.2-1.5-.7-.3-.7-.1-2-.1-2.8 0-.7 0-1.4-.1-2.1.9 0 1.3-.3 1.6.6.3.7.4 1.6.8 2.2.6.8 2.2 1.3 3.2 1.5 1.5.3 3.4.1 4.2-1.3 2.1-3.6-4.1-4.2-6-5.1-1.7-.8-3-1.9-3.2-3.9-.3-2 .5-3.6 2-4.8 1.5-1.2 3.5-1.6 5.4-1.5.9 0 1.8.2 2.6.3.5.1 2.5.2 2.7.6.3.4 0 2 0 2.5 0 .4.3 2.2 0 2.5-.1.1-.9 0-1 0-.5-.1-.3 0-.5-.5-.5-.9-.4-2-1.4-2.6-1-.6-2.5-.9-3.6-.6-1.7.4-2.9 2.1-1.7 3.7 1 1.4 3.4 1.6 4.9 2.1 1.9.6 3.7 1.5 4.4 3.5.7 2.1-.2 4.5-1.9 5.7-1.7 1.1-3.9 1.4-6 1.4zm9.1-1.4c.8-.3 2.1-.5 2.3-1.4.1-.6 0-1.4 0-2.1v-8.3c0-.9.1-1.8 0-2.7-.1-1-.8-1.1-1.7-1.4-.5-.2-.8-.2-.7-.8.1-.5-.1-.2.2-.4.5-.3 1.8 0 2.4 0h8.3c.7 0 3.9-.4 4.2.1.2.3 0 1.2 0 1.6v2.2c0 .2.1.9 0 1-.1.1-1.3.1-1.4 0-.7-.5-.3-2.3-1-2.9-.6-.4-2-.1-2.7-.1h-2c-.3 0-1.3-.2-1.6 0-.4.2-.2 1.2-.2 1.8v2.1c0 .4-.2 1.3 0 1.7.2.4-.2.1.3.3.5.2 1.4 0 1.9 0 1.3 0 1.7 0 2.2-1.3.1-.3.2-1 .5-1.1.2-.1 1 0 1.1.1.1.2 0 .9 0 1.1v4.1c0 .2.1 1.1 0 1.2-.1.1-.8.2-1 .1-.3-.2-.4-.8-.6-1.2-.2-.5-.3-1.1-.9-1.3-.3-.1-.9 0-1.3 0-.5 0-1.4-.2-1.9 0s-.2-.1-.3.3c-.1.4 0 1.1 0 1.5v2.3c0 .3-.2 2.3 0 2.5.3.3 2.3 0 2.8 0h3.8c.9 0 1-.5 1.3-1.4.3-1 .2-2.4 1.6-2 .5.2.2-.1.4.4s0 1.3 0 1.8v1.9c0 .2.1 1.1 0 1.2-.1.1-1 0-1.2 0h-11.8c-.9 0-1.8.1-2.7 0-.5 0-.3 0-.3-.9z"/><path d="M227.7 22.6c-.2-.7.6-.7 1.2-.9.6-.2 1.1-.5 1.5-.9 1-1.1 1.4-3 .4-4.2-.9-1.1-2.4-1.3-3.6-.9-.6.2-1.1.6-1.5 1.1-.4.4-.5 1-1.1.6 1.3-3.1 4.4-5.7 7.9-4.4 3.5 1.3 3.3 5.7.2 7.3 3.9 1.8 4.3 6.6 1.5 9.7-1.2 1.3-2.9 2.1-4.7 2.3-1.5.2-4.3.3-5.3-1.2-.4-.6-.4-1.5.1-2.1.7-.7 1.6-.4 2.3.1 1.4 1 3 2.8 4.9 1.8 1.9-1.1 1.5-3.7.6-5.3-.9-1.7-2.6-2.6-4.4-3zm9.9 9.5c-.2-.6.2-.5.7-.5.8 0 1.6-.3 1.9-1.1.3-.6.1-1.5.1-2.2v-5.9-5.8c0-.7.1-1.7-.3-2.4-.4-.6-1.2-.6-1.8-.7-.1 0-.9 0-.5-.4.2-.2 1.7 0 2 0h3.6c2.3 0 4.6-.2 6.8.4 7.9 2.1 8.9 14.3 1.3 17.6-2.5 1.1-5.2.9-7.9.9h-4c-.3.2-1.6.3-1.9.1zm7.2-17.8v12.1c0 1.2-.4 4.2.8 4.6 1.8.7 3.8-.7 4.7-2.1 1-1.7 1.2-3.7 1.3-5.6 0-2.4-.2-5-1.6-6.9-1.3-1.8-3.1-2.1-5.2-2.1z" fill="#3ec9e6"/><path fill="#f1d94b" d="M12.3 31.1c.8-.3 2.2-.5 2.3-1.5.1-1 0-2.1 0-3.1v-9.2c0-.9.1-1.4-.9-1.8-.3-.1-1.3-.3-1.5-.6-.2-.4 0-.8.2-.9.4-.2 1.2 0 1.6 0h6.4c2.1 0 5.2.1 6.4 2.2.7 1.2.6 2.8-.2 4-.4.6-1 1.2-1.7 1.5-.5.3-1.3.4-1.7.7 1.7.2 3.6.6 4.5 2.2.9 1.4.7 3.4-.2 4.8-1.4 2.1-4.7 2.6-7.1 2.6h-5.5c-.7 0-1.7.2-2.5 0-.1 0-.4.1-.4 0 .2 0 .3-.9.3-.9zm7.4-9.1c1.3 0 2.9-.3 3.4-1.6.3-1 .2-2.6-.5-3.5-.6-.8-1.7-.9-2.6-.9-.3 0-1.3-.1-1.4.1-.2.2 0 1.3 0 1.6v2.4c0 .4-.2 1.5 0 1.8.1.2.6.1 1.1.1zm1.2 8.3c1.3 0 2.6-.4 3.1-1.7.4-1.2.3-3.2-.7-4.1-.9-.8-2.2-.7-3.4-.7-.6 0-1.2-.2-1.4.3-.2.5 0 1.7 0 2.2v2.9c0 .4-.1.9.1 1.1.5.2 1.9 0 2.3 0zm18 2.2c-4.1 0-7.7-2.2-8.7-6.3-.9-3.7-.3-8 2.8-10.5 2.8-2.3 7.3-2.6 10.5-.9 3.8 2.1 4.9 6.4 4.2 10.4-.8 4.3-4.4 7.3-8.8 7.3zm.2-1.8c3.9 0 4.5-4.6 4.5-7.6-.1-3.2-1.1-7.7-5.1-7.5-3.6.2-4.3 4.5-4.3 7.3 0 3.2.9 7.8 4.9 7.8zm8.5.4c.8-.3 1.5-.5 2-1.4.3-.6.5-1.2.7-1.8.9-2.3 1.8-4.6 2.7-6.8.6-1.4 1.1-2.9 1.7-4.2.4-.8.8-1.8 1.3-2.5.5-.8 1.2-.5 2.1-.5.7 0 .6-.1.8.5.3.7.5 1.4.8 2.1.9 2.3 1.8 4.6 2.7 6.8.7 1.9 1.5 3.8 2.2 5.8.2.4.3.9.6 1.2.5.5 2.1.5 1.7 1.5-.2.5-1.3.2-1.9.2h-4.3c-.4 0-1.1.1-1.5 0-.5-.1-.2.2-.4-.4-.2-1 1.5-1 2.2-1.3-.5-1.2-.8-2.8-1.5-3.9-.3-.5 0-.3-.6-.4-.8-.1-1.7 0-2.5 0s-2.7-.3-3.2.2c-.4.5-.6 1.6-.9 2.2-.2.6-.4 1.2-.7 1.7.7.2 1.9.4 2.1 1 .4 1.1-.8.7-1.5.7h-3.7c-.1 0-.8.1-.9 0 0 .1.1-.5 0-.7zm11-6.8c-.5-1.2-.9-2.3-1.4-3.5-.2-.4-.7-2.5-1-2.6-.4-.1-2.1 5.4-2.4 6.1h4.8zM69 31.1c.6-.2 1.4-.3 2-.7.6-.3.5-.6.5-1.2v-4.9-6.1c0-.5.2-1.3 0-1.8-.1-.5.1-.3-.6-.3-.9-.1-1.9-.1-2.8-.1-.8.1-.9.5-1.1 1.2-.1.4-.3 1.9-.7 2.1-.1.1-1.1.1-1.2 0-.2-.1 0-.1-.1-.4-.2-.8 0-2 0-2.8 0-.3-.2-1.7 0-1.9.3-.3 2.4 0 2.8 0h11.9c.5 0 2.1-.2 2.3.1.3.4 0 2 0 2.4 0 .4.3 2.1 0 2.5-.1.2-1.2.1-1.4 0-.5-.4-.5-1.9-.7-2.5-.3-.7-.6-.7-1.3-.7-.7 0-2.1-.3-2.8 0-.4.2-.2 0-.3.5-.1.7 0 1.4 0 2.1v6.1c0 1.6-.1 3.2 0 4.8 0 .5 0 .7.5 1 .5.2 1.7.3 1.9.7.9 1.3-2.5.8-2.9.8h-3.2c-.7 0-1.7.2-2.4 0-.6-.1-.4-.1-.4-.9z"/></svg>') no-repeat 95px center, linear-gradient(to right, rgba(22,34,56,1) 0%,rgba(22,34,56,1) 74%,rgba(22,34,56,0) 100%);

    background-size: contain;
}

#onw3d_controls_wrap p.onw3dp18 {
    text-align: left;
    font-size:18px;
    font-weight:400;
}

.onw3d_cont {
    text-align: left;
    margin:0;
    padding-left:110px;
    max-width: 1400px;
}

.onw3d_main_item {
    display:block;
    float:left;
    width:30%;
    margin:20px 3% 20px 0;
    padding:20px 0;
    cursor: pointer;
    background: rgba(22,34,56,0.9) linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.3) 32%,rgba(0,0,0,0.3) 63%,rgba(0,0,0,0) 100%);
    text-align: center;
    border:1px solid #444;
    border-radius:4px;
}

.onw3d_main_item:hover {
    background: rgba(22,34,56,1) linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.7) 32%,rgba(0,0,0,0.7) 63%,rgba(0,0,0,0) 100%);
}

.onw3d_main_item b{
    color:#3ec9e6;
    text-transform: uppercase;
    font-size:16px;
    line-height:1.4;
}


.onw3d_category_item {
    display:block;
    margin:0;
    padding:10px;
    cursor: pointer;
    

    background: #fff;
    text-align: left;
    
    border-bottom:1px solid #999
}

.onw3d_category_item:hover {
    background: #f5f5f5;
}

.onw3d_category_item img {
    max-width:200px;
    display:block;
    margin:0 auto;
}

.onw3d_category_item h3{
    text-align: left;
    text-transform: uppercase;
    font-size:16px;
    font-weight:700;
    color:#444;
    margin:0;
}

.onw3d_category_item p{
    text-align: left;
    font-size:12px;
    font-weight:400;
    color:#999;
    margin:4px 10px 0 0;
    text-align: justify;
    font-style:italic;
}

.onw3d_category_item p.elipsis{
    overflow: hidden;
    position: relative; 
    line-height: 1.2em;
    max-height: 3.6em; 
}

#onw3d_controls_wrap h2 {
    text-align: left;
    text-transform: uppercase;
    font-size:32px;
    font-weight:400;
    margin:0;
}

.btnbtn {
    display:block;
    width:300px;
    color:#fff;
    background:#444;
    padding:10px;
    font-size:20px;
    margin:20px auto;
    cursor:pointer;
}

.btnbtn:hover {
    background:#111;
}



